<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Bikcraft - Contact</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../style/normalize.css">
	<link rel="stylesheet" type="text/css" href="../style/reset.css">
	<link rel="stylesheet" type="text/css" href="../style/grid.css">
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/contact.css">

</head>
<body>
	
	<header class="header">
		<div class="container">
			<a class="grid-2" href="index.html">
				<img src="../img/logo.png" alt="Bikcraft">
			</a>
			<nav class="header-menu grid-14">
				<ul>
					<li><a href="about.html">Sobre</a></li>
					<li><a href="products.html" class="menu--active">Produtos</a></li>
					<li><a href="portfolio.html">Portfólio</a></li>
					<li><a href="contact.html">Contato</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="intern-intro intro-contact">
		<div class="container">
			<h1>Contato</h1>
			<p>Tire suas dúvidas com a gente</p>
		</div>
	</section>

	<section class="contact container">
		<form class="contact-form grid-8" action="">
			<label for="name">Nome</label>
			<input type="text" id="name">
			<label for="email">E-mail</label>
			<input type="text" id="email">
			<label for="telefone">Telefone</label>
			<input type="text" id="telefone">
			<label for="espec">Especificações</label>
			<textarea name="espec" id="espec"></textarea>
			<button type="submit" class="btn">Enviar</button>
		</form>
		<div class="contact-info grid-8">
			<h3>Dados</h3>
			<span>+55 11 99999-9999</span>
			<span>contato@bikcraft.com.br</span>
			<span>Rua Logo Ali, 1111</span>
			<span>São Paulo - SP</span>
			<h3>Redes Sociais</h3>
			<ul>
				<li><a href="https://facebook.com" target="_blank"><img src="../img/facebook-logo.png" alt="facebook link"></a></li>
				<li><a href="https://instagram.com" target="_blank"><img src="../img/instagram-logo.png" alt="instagram link"></a></li>
				<li><a href="https://twitter.com" target="_blank"><img src="../img/twitter-logo.png" alt="twitter link"></a></li>
			</ul>
		</div>
	</section>

	<section class="container contact-map">
		<a href="https://www.google.com/maps/place/Av.+Paulista,+S%C3%A3o+Paulo+-+SP/data=!4m2!3m1!1s0x94ce59c8da0aa315:0xd59f9431f2c9776a?ved=2ahUKEwi0idbppY_gAhWMILkGHQIiAEgQ8gEwAHoECAMQAQ" target="_blank"><img src="../img/contact-maps.jpg" alt="Endereço Bikcraft" class="grid-16"></a>
	</section>

	<section class="footer-break">
		<blockquote class="quote-extern container">
			<p>“O verdadeiro segredo da felicidade esta em ter um genuíno interesse por todos os detalhes da vida cotidiana”</p>
			<cite>William Morris</cite>
		</blockquote>		
	</section>

	<footer class="footer">
		<div class="footer-infos">
			<div class="container">
				<div class="grid-8 footer-infos__history">
					<h3>Nossa História</h3>
					<p>“O verdadeiro segredo da felicidade esta em ter um genuíno interesse por todos os detalhes da vida cotidiana”</p>
				</div>

				<div class="grid-4 footer-infos__contact">
					<h3>Contato</h3>
					<ul>
						<li>11 99999-9999</li>
						<li>contato@bikcraft.com.br</li>
						<li>São Paulo - SP</li>
					</ul>
				</div>

				<div class="grid-4 footer-infos__social">
					<h3>Redes Sociais</h3>
					<ul>
						<li><a href="https://facebook.com" target="_blank"><img src="../img/facebook-logo.png" alt="facebook link"></a></li>
						<li><a href="https://instagram.com" target="_blank"><img src="../img/instagram-logo.png" alt="instagram link"></a></li>
						<li><a href="https://twitter.com" target="_blank"><img src="../img/twitter-logo.png" alt="twitter link"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-note">
			<div class="container">
				<p class="grid-16">Bikecraft 2019 - Alguns direitos reservados</p>
			</div>
		</div>
	</footer>

</body>
</html>