<!DOCTYPE html>
<html>
<head>
	<title>Bikcraft - Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../style/normalize.css">
	<link rel="stylesheet" type="text/css" href="../style/reset.css">
	<link rel="stylesheet" type="text/css" href="../style/grid.css">
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/portfolio.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<a class="grid-2" href="index.html">
				<img src="../img/logo.png" alt="Bikcraft">
			</a>
			<nav class="header-menu grid-14">
				<ul>
					<li><a href="about.html" class="menu--active">Sobre</a></li>
					<li><a href="products.html">Produtos</a></li>
					<li><a href="portfolio.html">Portfólio</a></li>
					<li><a href="contact.html">Contato</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="intern-intro portfolio-intro">
		<div class="container">
			<h1>Portfólio</h1>
			<p>conheça os projetos que amamos mostrar.</p>
		</div>
	</section>

	<section class="portfolio-quote container">
		<blockquote class="quote-client">
			<p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.”</p>
			<cite>Barbara Moss</cite>
		</blockquote>
	</section>

	<section class="portfolio-content portfolio">
		<div class="container">
			<h2 class="subtitle">Portfólio</h2>
			<ul class="portfolio-list">
				<li class="grid-8"><img src="../img/portfolio-passeio.jpg" alt="Bicicleta Passeio"></li>
				<li class="grid-8"><img src="../img/portfolio-retro.jpg" alt="Bicicleta retro"></li>
				<li class="grid-16"><img src="../img/portfolio-esporte.jpg" alt="Bicicleta esporte"></li>
			</ul>
		</div>
	</section>
	

	<section class="footer-break">
		<blockquote class="quote-extern container">
			<p>“O verdadeiro segredo da felicidade esta em ter um genuíno interesse por todos os detalhes da vida cotidiana”</p>
			<cite>William Morris</cite>
		</blockquote>		
	</section>

	<footer class="footer">
		<div class="footer-infos">
			<div class="container">
				<div class="grid-8 footer-infos__history">
					<h3>Nossa História</h3>
					<p>“O verdadeiro segredo da felicidade esta em ter um genuíno interesse por todos os detalhes da vida cotidiana”</p>
				</div>

				<div class="grid-4 footer-infos__contact">
					<h3>Contato</h3>
					<ul>
						<li>11 99999-9999</li>
						<li>contato@bikcraft.com.br</li>
						<li>São Paulo - SP</li>
					</ul>
				</div>

				<div class="grid-4 footer-infos__social">
					<h3>Redes Sociais</h3>
					<ul>
						<li><a href="https://facebook.com" target="_blank"><img src="../img/facebook-logo.png" alt="facebook link"></a></li>
						<li><a href="https://instagram.com" target="_blank"><img src="../img/instagram-logo.png" alt="instagram link"></a></li>
						<li><a href="https://twitter.com" target="_blank"><img src="../img/twitter-logo.png" alt="twitter link"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-note">
			<div class="container">
				<p class="grid-16">Bikecraft 2019 - Alguns direitos reservados</p>
			</div>
		</div>
	</footer>

</body>
</html>