<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Bikcraft</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../style/normalize.css">
	<link rel="stylesheet" type="text/css" href="../style/reset.css">
	<link rel="stylesheet" type="text/css" href="../style/grid.css">
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/products.css">

</head>
<body>
	
	<header class="header">
		<div class="container">
			<a class="grid-2" href="index.html">
				<img src="../img/logo.png" alt="Bikcraft">
			</a>
			<nav class="header-menu grid-14">
				<ul>
					<li><a href="about.html">Sobre</a></li>
					<li><a href="products.html" class="menu--active">Produtos</a></li>
					<li><a href="portfolio.html">Portfólio</a></li>
					<li><a href="contact.html">Contato</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="intern-intro intro-products">
		<div class="container">
			<h1>Produtos</h1>
			<p>Conheça todos os nossos produtos</p>
		</div>
	</section>

	<section class="container product-content">
		<div class="grid-11 product-title">
			<h2>Passeio</h2>
			<img src="../img/product-passeio-1.jpg" alt="bicicleta passeio">
		</div>
		<div class="grid-5 product-icon">
			<img src="../img/bicicleta-passeio.png">
		</div>
		<div class="grid-8">
			<img src="../img/product-passeio-2.jpg" alt="bicicleta passeio">
		</div>
		<div class="grid-8 product-info">
			<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			<ul>
				<li>Conforto</li>
				<li>Velocidade</li>
				<li>Design</li>
				<li>Versatilidade</li>
			</ul>
		</div>
	</section>

	<section class="container product-content">
		<div class="grid-11 product-title">
			<h2>Esporte</h2>
			<img src="../img/product-esporte-1.jpg" alt="bicicleta esporte">
		</div>
		<div class="grid-5 product-icon">
			<img src="../img/bicicleta-esportiva.png">
		</div>
		<div class="grid-8">
			<img src="../img/product-esporte-2.jpg" alt="bicicleta esporte">
		</div>
		<div class="grid-8 product-info">
			<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			<ul>
				<li>Conforto</li>
				<li>Velocidade</li>
				<li>Design</li>
				<li>Versatilidade</li>
			</ul>
		</div>
	</section>


	<section class="container product-content">
		<div class="grid-11 product-title">
			<h2>Retrô</h2>
			<img src="../img/product-retro-1.jpg" alt="bicicleta retro">
		</div>
		<div class="grid-5 product-icon">
			<img src="../img/bicicleta-vintage.png">
		</div>
		<div class="grid-8">
			<img src="../img/product-retro-2.jpg" alt="bicicleta retro">
		</div>
		<div class="grid-8 product-info">
			<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			<ul>
				<li>Conforto</li>
				<li>Velocidade</li>
				<li>Design</li>
				<li>Versatilidade</li>
			</ul>
		</div>
	</section>

	<section class="product-budget">
		<div class="container">
			<h2 class="subtitle">Orçamento</h2>
			<form class="product-form grid-8" action="">
				<label for="name">Nome</label>
				<input type="text" id="name">
				<label for="email">E-mail</label>
				<input type="text" id="email">
				<label for="telefone">Telefone</label>
				<input type="text" id="telefone">
				<label for="espec">Especificações</label>
				<textarea name="espec" id="espec"></textarea>
				<button type="submit" class="btn">Enviar</button>
			</form>
			<div class="product-budget__info grid-8">
				<h3>Dados</h3>
				<span>+55 11 99999-9999</span>
				<span>oracamento@bikcraft.com.br</span>
				<h3>Monte a sua Bikcraft</h3>
				<p>Escolha as especificações:</p>
				<ul>
					<li>- Cores</li>
					<li>- Estilo</li>
					<li>- Medidas</li>
					<li>- Acessórios</li>
					<li>- e outros...</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="footer-break">
		<blockquote class="quote-extern container">
			<p>“O verdadeiro segredo da felicidade esta em ter um genuíno interesse por todos os detalhes da vida cotidiana”</p>
			<cite>William Morris</cite>
		</blockquote>		
	</section>

	<footer class="footer">
		<div class="footer-infos">
			<div class="container">
				<div class="grid-8 footer-infos__history">
					<h3>Nossa História</h3>
					<p>“O verdadeiro segredo da felicidade esta em ter um genuíno interesse por todos os detalhes da vida cotidiana”</p>
				</div>

				<div class="grid-4 footer-infos__contact">
					<h3>Contato</h3>
					<ul>
						<li>11 99999-9999</li>
						<li>contato@bikcraft.com.br</li>
						<li>São Paulo - SP</li>
					</ul>
				</div>

				<div class="grid-4 footer-infos__social">
					<h3>Redes Sociais</h3>
					<ul>
						<li><a href="https://facebook.com" target="_blank"><img src="../img/facebook-logo.png" alt="facebook link"></a></li>
						<li><a href="https://instagram.com" target="_blank"><img src="../img/instagram-logo.png" alt="instagram link"></a></li>
						<li><a href="https://twitter.com" target="_blank"><img src="../img/twitter-logo.png" alt="twitter link"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-note">
			<div class="container">
				<p class="grid-16">Bikecraft 2019 - Alguns direitos reservados</p>
			</div>
		</div>
	</footer>

</body>
</html>